# install then reboot
install
cdrom
reboot

# no X, this is a server
skipx
text

# yes we accept the eula
eula --agreed

# no we dont want firstboot
firstboot --disable

# locale settings
lang en_GB.UTF-8
keyboard uk
timezone --utc Europe/London

# network settings
network --bootproto=dhcp --onboot=on --noipv6 --device=link

# root password
rootpw vagrant

# create vagrant user
user --name=vagrant --plaintext --password=vagrant --groups=wheel

# Permissive SELinux, don't enforce rules.
selinux --permissive

# enable sha512
auth --useshadow  --passalgo=sha512

# install a bootloader
bootloader --location=mbr --driveorder=sda --append="net.ifnames=0 biosdevname=0"

# disable kdump nonsense
%addon com_redhat_kdump --disable
%end

# disk
ignoredisk --only-use=sda
zerombr
clearpart --all --drives=sda

part /boot --ondrive=sda --fstype=xfs --size=500
part pv.01 --ondrive=sda --grow --size=1
volgroup sysvg pv.01
logvol / --fstype=xfs --name=root --vgname=sysvg --size=20480
logvol swap --name=swap --vgname=sysvg --size=8192
logvol /tmp --fstype=xfs --name=tmp --vgname=sysvg --size=10240
logvol /var --fstype=xfs --name=var --vgname=sysvg --size=20480 --grow


# packages
%packages
@core
@base
%end

# update and allow vagrant to sudo without password
%post
dnf -y update
dnf -y install sudo
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
%end
